<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
  </head>
  <body>
    <ul style="text-align: center;">
      <li>
        <a target="_blank" href="./sign-in.html">Sign In</a>
      </li>

      <li>
        <a target="_blank" href="./password-reset.html">Password Reset</a>
      </li>

      <li>
        <a target="_blank" href="./password-recovery.html">Password Recovery</a>
      </li>

      <li>
        <a target="_blank" href="./sign-up.html">Sign Up</a>
      </li>
    </ul>
  </body>
</html>