section article {
  background-color: white;
  max-width: 630px;
  box-shadow: 0px 5px 40px rgba(0, 45, 113, 0.06);
  border-radius: 10px;
  padding: 65px 100px;
}

h2 {
  color: #002396;
  margin-bottom: 1em;
}

h1 {
  color: #2a74db;
  font-size: 50px;
}

.forgot-password {
  color: #222428 !important;
  font-size: 12px !important;
}

input {
  border: 2px solid #f2f2f2 !important;
  border-radius: 2px !important;
}

input:not(:placeholder-shown) {
  border-left: 2px solid #2a74db !important;
}

input::placeholder {
  color: rgba(135, 144, 167, 0.57) !important;
}

input:placeholder-shown {
  background: #fcfcfc !important;
}

button {
  padding: 10px 75px !important;
  background-color: #0ad69c !important;
  border-radius: 2px !important;
  color: white !important;
}

.success-send-email {
  max-width: initial;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}
