<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List</title>
  </head>
  <body>
    <h2>Navigation:</h2>
    <p>Sign in page <a target="_blank" href="./sign-in">open</a></p>
    <p>Password reset page <a target="_blank" href="./password-reset">open</a></p>
    <p>Password recovery page <a target="_blank" href="./password-recovery">open</a></p>
    <p>Sign up page <a target="_blank" href="./sign-up">open</a></p>
  </body>
</html>
