{% set title = 'Home' %} {% extends './components/base.html' %} {% block content %}

<div class="content">
  <div class="page-list">
    <ul>
      <li><a href="./sign-1">Sign in 1.1</a></li>
      <li><a href="./sign-2">Password reset</a></li>
      <li><a href="./sign-3">Password reset 2</a></li>
      <li><a href="./sign-4">Password reset 3</a></li>
      <li><a href="./sign-up-1">Sign up 1</a></li>
      <li><a href="./sign-up-2">Sign up 2</a></li>
      <li><a href="./sign-up-3">Sign up 3</a></li>
      <li><a href="./sign-up-4">Sign up 4</a></li>
      <li><a href="./sign-up-5">Sign up 5</a></li>
      <li><a href="./sign-up-6">Sign up 6</a></li>
      <li><a href="./profile-1/1">Profile 1</a></li>
      <li><a href="./profile-2">Profile 2</a></li>
    </ul>
  </div>
</div>

{% endblock %}